<div class="view intro-2">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
            <div class="container text-center white-text wow fadeInUp">
                <h2> <strong> <b> elige el mejor diseño para tu negocio </b></strong> </h2>
                <br>
                <br>
                <h4><strong>DesignMatch es la mejor herramienta para encontrar </strong></h4>
                <h4><strong>a diseñadores que haran crecer tu negocio.</strong></h4>
                <br>
            </div>
        </div>
    </div>
</div>