<div style="align-items: center" class=" prin">
    <div class=" text-center">
        <h4 class=" w-100 font-weight-bold">Realiza tu oferta</h4>
    </div>
    <br>
    <div class="container">
        <form [formGroup]="registerForm" (ngSubmit)="publicOffer()">
            <div class="row">
                <div class="nombre">
                    <input placeholder="Nombre" type="text" formControlName="nombre" class="form-control medio" [(ngModel)]="detalle.nombre_diseniador" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                        <div *ngIf="f.nombre.errors.required">Nombre obligatorio</div>
                    </div>
                </div>

                <div class="apellido">
                    <input placeholder="Apellido" type="text" formControlName="apellido" class="form-control medio" [(ngModel)]="detalle.apellido_diseniador" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
                    <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                        <div *ngIf="f.apellido.errors.required">apellido obligatorio</div>
                    </div>
                </div>
            </div>
            <br>
            <input placeholder="Email" type="text" formControlName="email" class="form-control" [(ngModel)]="detalle.email_diseniador" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email es obligatorio</div>
                <div *ngIf="f.email.errors.email">example@xample.com</div>
            </div>
            <br>
            <input #fileinput placeholder="diseño" type="file" formControlName="disenio" name="disenio" accept=".png,.jpg" class="form-control" (change)="captureFile($event)" [ngClass]="{ 'is-invalid': submitted && f.disenio.errors }" />
            <div *ngIf="submitted && f.disenio.errors" class="invalid-feedback">
                <div *ngIf="f.disenio.errors.required">disenio es obligatorio</div>
            </div>
            <br>
            <input placeholder="precio" type="number" formControlName="precio" class="form-control" [(ngModel)]="detalle.precio" [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" />
            <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
                <div *ngIf="f.precio.errors.required">valor obligatorio</div>
            </div>
            <br>
            <div class="form-group md-8" style="text-align: center">
                <button class="btn btn-primary">Publicar Oferta</button>
            </div>
        </form>
    </div>
</div>