<div class="view intro-2">
    <div class="full-bg-img">
        <div class="mask  flex-center">
            <div class="container text-center wow fadeInUp estilo">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="titulo">
        <br><br>
        <h2> <strong><b> hola!</b> </strong> {{object[0].nombre_empresa}}</h2>
    </div>
    <div class="contenido">
        <h4> aqui te pueden encontrar:<strong><b> http://localhost:4200/{{object[0].url}}</b></strong></h4>
        <h5> pasa este link a tus diseñadores preferidos para que puedan mirar todos tus proyectos.</h5>
    </div>
    <br><br>
    <div class="proyectos">
        <div class="row">
            <div class="p-4 mproject col-md-9" style="text-align: left">
                <h3><strong><b> mis proyectos</b> </strong></h3>
            </div>
            <div class=" col-md-3" style="text-align:right">
                <button mdbBtn type="button" color="dark-green" (click)="create()" mdbWavesEffect><strong> nuevo Proyecto </strong></button>
            </div>
        </div>

        <div class="emptyproject" [hidden]="showprojects">
            <mdb-card>
                <mdb-card-body>
                    <h4> <strong> <b> Aun no tienes proyectos, Crea el primero </b></strong></h4>
                </mdb-card-body>
            </mdb-card>
        </div>
        <br>
        <br>
    </div>
    <div class="proyectos" [hidden]="!showprojects" *ngFor="let item of listProject">
        <mdb-card class="text-center">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{item.nombre_proyecto}}</h4>
                </mdb-card-title>
                <mdb-card-text>
                    <h5> {{item.descripcion}}</h5>
                </mdb-card-text>
                <br>
                <div class="row flex-center">

                    <div style="padding-right: 30px"> <button (click)="showDesingAdmin(item.id_proyecto)" mat-fab class="btn-primary" matTooltip="Ver diseños" matTooltipClass="tooltip-red">
                                 
                        <mat-icon>toc</mat-icon>
                            </button>
                    </div>
                    <div style="padding-right: 30px">
                        <button mat-fab class="btn-warning" matTooltip="actualizar" matTooltipClass="tooltip-red" (click)="update(item)">
                                    <mat-icon>update</mat-icon>
                    </button>
                    </div>
                    <div style="padding-right: 30px" matTooltip="Eliminar" matTooltipClass="tooltip-red">
                        <button mat-fab class="btn-danger" (click)="delete(item.id_proyecto)">
                                <mat-icon>delete_forever</mat-icon>
                    </button>
                    </div>
                </div>
            </mdb-card-body>
            <br>
        </mdb-card>
        <br><br>
    </div>
</div>