<header class="h-100">
    <div>
        <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark   mdb-color darken-2 crolling-navbar intro-fixed-nav" [containerInside]="false">
            <mdb-navbar-brand>
                <a class="logo navbar-brand" href="#">
                    <h3> <strong>{{tittle}} </strong> </h3>
                </a>
            </mdb-navbar-brand>
            <links>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link" (click)="showInit()"><strong>Inicio</strong>  </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item dropdown btn-group" dropdown>
                        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect *ngIf="showPerfil">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu  dropdown-menu-right" role="menu">
                            <a class="dropdown-item" [routerLink]="[ '/miPerfil']">mi perfil </a>
                            <a class="dropdown-item" (click)="close()">Salir </a>
                        </div>

                    </li>
                    <li class="nav-item dropdown btn-group" dropdown>
                        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect *ngIf="!showPerfil">
                            <i class="fas fa-user"></i> Cuenta
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <!--  <a class="dropdown-item" (click)="openDialog()">Ingresar </a>-->
                            <a class="dropdown-item" [routerLink]="['/register']" [fragment]="'SRegister'">Registrate</a>
                        </div>
                    </li>
                </ul>
            </links>
        </mdb-navbar>
    </div>
</header>
<div class="view intro-2">
    <div class="full-bg-img">
        <div class="mask  flex-center">
            <div class="container text-center white-text wow fadeInUp">

            </div>
        </div>
    </div>
</div>