<section id="SRegister">
    <div class="view intro-2">
        <div class="full-bg-img">
        </div>
    </div>
    <div class=" intro-2">
        <div class="full-bg-img">
            <div class="mask rgba-black-light ">
                <div class=" text-center white-text wow fadeInUp">
                    <div class="sobrepone offset-md-4 offset-sm-2 col-md-4 col-sm-8  col-xs-8 example-container">
                        <br><br>
                        <h3 style="text-align: center"> <strong> <b> Registra tu Empresa </b></strong></h3>
                        <br>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input placeholder="Nombre Empresa" type="text" formControlName="firstName" [(ngModel)]="empresa.nombre_empresa" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">Nombre es obligatorio</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input placeholder="Email" type="text" formControlName="email" class="form-control" [(ngModel)]="empresa.email_empresa" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email es obligatorio</div>
                                    <div *ngIf="f.email.errors.email">example@xample.com</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input placeholder="Contraseña" type="password" formControlName="password" [(ngModel)]="empresa.contrasenia" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">contraseña obligatoria</div>
                                    <div *ngIf="f.password.errors.minlength">minimo 6 caracteres</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input placeholder="Repetir Contraseña" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">contraseña obligatoria</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">las contraseñas no coinciden</div>
                                </div>
                            </div>
                            <div class="form-group" style="text-align: left">
                                <label for="colFormLabel"> <strong> Url: </strong> <b>  http://localhost:4200/cliente/</b></label>
                                <label for="colFormLabel">  <b>  {{empresa.nombre_empresa}}{{maxid}}</b></label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>