<mat-spinner class="spinner" *ngIf="!showinfo"></mat-spinner>
<div *ngIf="showinfo" class="container">
    <br> <br>
    <br>
    <br>
    <div class="titulo">
        <br><br>
        <h2> <strong><b> Proyecto</b> </strong> {{project.nombre_proyecto}} </h2>
    </div>
    <br><br>
    <div class="contenido">
        <h4> <strong><b>{{project.descripcion}} </b></strong></h4>
        <br>
    </div>
    <div class="" [hidden]="showDesing">
        <mdb-card>
            <mdb-card-body>
                <h4> <strong> <b> Aun no hay diseños ofertados </b></strong></h4>
            </mdb-card-body>
        </mdb-card>
    </div>

    <div class="container" style="align-content: center" [hidden]="!showDesing" *ngFor="let item of listDesing">
        <div class=" offset-md-1 col-md-5 my-5 " style="float: left">
            <mdb-card dark="true">
                <div style="height:  250px; width:  100%;" class="overlay waves-light" mdbWavesEffect>
                    <img src="http://localhost:3000/loadFile/{{item.disenio}}" class=" estilosImg" (click)="showimage(item.disenio)" data-toggle="modal" data-target="#exampleModal">
                </div>
                <mdb-card-body class="elegant-color white-text">
                    <mdb-card-title>
                        <h4>{{item.nombre_diseniador}} {{item.apellido_diseniador}}</h4>
                    </mdb-card-title>
                    <hr class="hr-light">
                    <mdb-card-text class="white-text">
                        <h6> <strong> <b>Precio: </b></strong> {{item.precio}}</h6> <strong> <b>Correo: </b></strong> {{item.email_diseniador}} <br> <strong> <b>fecha: </b></strong> {{item.fecha.slice(0, -14)}} <br>

                        <strong> <b> Estado: </b></strong> {{item.estado}}
                    </mdb-card-text>
                </mdb-card-body>
                <div class="modal fade" id="exampleModal" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <img src="http://localhost:3000/loadFile/{{inmodal}}" class="estilosImg">
                        </div>
                    </div>
                </div>
            </mdb-card>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>