.view {
    background: url("https://previews.123rf.com/images/apinan/apinan1509/apinan150900046/45992901-vector-business-investment-and-finance-concept-business-planning-on-device-technology-web-banner.jpg")no-repeat center center;
    background-size: cover;
    height: 80vh;
}

.estilo {
    color: white;
}

.titulo {
    text-align: left
}

.emptyproject {
    color: gray;
}

.botones {
    text-align: center;
}