<div class="view intro-2">
    <div class="full-bg-img">
        <div class="mask  flex-center">
            <div class="container text-center wow fadeInUp estilo">

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="titulo">
        <br><br>
        <h2> <strong><b> hola!</b> </strong> {{object[0].nombre_empresa}}</h2>
    </div>
    <div class="contenido">
        <h4> aqui te pueden encontrar:<strong><b> http://localhost:4200/cliente/{{object[0].url}}</b></strong></h4>
        <h5> pasa este link a tus diseñadores preferidos para que puedan mirar todos tus proyectos.</h5>
    </div>
    <br><br>
    <div class="proyectos">
        <div class="titulo">
            <h3><strong><b> mis proyectos</b> </strong></h3>
        </div>
        <br><br>
    </div>
</div>