.view {
    background: url("https://previews.123rf.com/images/varijanta/varijanta1603/varijanta160300085/54344123-banner-de-web-de-dise%C3%B1o-de-l%C3%ADnea-plana-de-investigaci%C3%B3n-y-an%C3%A1lisis-de-negocios-ilustraci%C3%B3n-de-vector-moderno-para.jpg")no-repeat center center;
    background-size: cover;
    height: 70vh;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}