.view {
    background: url("https://cdn.pixabay.com/index/2019/06/20/10-58-01-525_1440x480.jpg")no-repeat center center;
    background-size: cover;
    height: 90vh;
}

@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}

.navbar {
    z-index: 1;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}