<div class="view intro-2">
    <div class="full-bg-img">
        <div class="mask  flex-center">
            <div class="container text-center wow fadeInUp estilo">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="titulo">
        <br><br>
        <h2> <strong><b> El team {{object[0].nombre_empresa}} </b> </strong> requiere de tus conocimientos. </h2>
    </div>
    <br>
    <div class="contenido">
        <h4> <strong><b>Oferta tu mejor Diseño </b></strong></h4>
        <h5> </h5>
    </div>
    <br><br>

    <div class="proyectos" [hidden]="!showprojects" *ngFor="let item of listProject">
        <mdb-card class="text-center">

            <mdb-card-body>
                <mdb-card-title>
                    <h3> {{item.nombre_proyecto}}</h3>
                </mdb-card-title>
                <mdb-card-text>
                    <h5> {{item.descripcion}}</h5>
                </mdb-card-text>
                <br>
                <div class="row flex-center">
                    <div>
                        <button mdbBtn type="button" mdbTooltip="Realizar Oferta" placement="bottom" color="deep-purple" mdbWavesEffect>Ofertar</button>
                    </div>
                    <div>
                        <button mdbBtn type="button" mdbTooltip="Ver Diseños" placement="bottom" color="dark-green" mdbWavesEffect>Diseños</button> </div>
                </div>
            </mdb-card-body>
            <br>
        </mdb-card>
        <br><br>
    </div>
</div>