.view2 {
    background: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/53/93/165798cc46439bd.jpg")no-repeat center center;
    background-size: cover;
    height: 80vh;
}

.spinner {
    margin-left: 47%;
    margin-top: 20%;
}

.estilosImg {
    height: 100%;
    width: 100%;
}